:root {
    --accent-color: #6B9080;
    --accent-light-color: #CCE3DE;
    --background-color: #F6FFF8;
    --main-color: #34463F;
}

/* GENERALI */

.tc-main {
    color: var(--main-color)!important;
}

.bg-main {
    background-color: var(--main-color)!important;
}

.tc-accent {
    color: var(--accent-color)!important;
}

.bg-accent {
    background-color: var(--accent-color)!important;
}

.tc-light {
    color: var(--accent-light-color)!important;
}

body {
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}


/* NAVBAR */
.nav-link {
    color: var(--accent-light-color)!important;
    text-decoration: none;
    transition: all 0.5s;
}

.nav-link:hover {
   transform: scale(1.1);
   transition: all 0.5s;
}

/* NAVBAR CHANGE ON SCROLL */

.navbar-toggler:focus{
    box-shadow: none!important;
}


/* GO UP BUTTON */
#myBtn {
    display: none;
    position: fixed;
    height: 50px;
    width: 50px; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: var(--accent-light-color); 
    color: var(--main-color); 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50px; 
    font-size: 18px; 
    transition: all 0.3s ease-in-out;
    opacity: 50%;
    }
    
    #myBtn:hover {
    background-color: var(--main-color); /* Add a dark-grey background on hover */
    color: var(--accent-light-color);
    opacity: 100%;
    }


    .input-custom{
        border: 2px solid var(--main-color);
        border-radius: 6px;
    }


    /* MASTHEAD */
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url(/Media/smile.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .masthead .btn{
      background-color: var(--accent-light-color);
      color: var(--main-color);
      border: solid 1px var(--main-color);
  }

  .shadow-white {
    text-shadow:
    -1px -1px 0 var(--accent-light-color),  
    1px -1px 0 var(--accent-light-color),
    -1px 1px 0 var(--accent-light-color),
     1px 1px 0 var(--accent-light-color);
     font-weight: 400!important;
}

.stroke-black{
    -webkit-text-stroke:1px black; 
}



/* SERVIZI */

.photo {
    border-radius: 50%!important;
    margin-top: 10px;
}

.link-position {
    bottom: 2px!important;
    left: 20%;
    right: 20%;
    position: absolute;

}

.box-position{
    position: relative;
}


/* CONTATTAMI */

.form-control
        {
        	border-radius:0px;
        	border:1px solid #EDEDED;
        }

        .form-control:focus{
            box-shadow: none!important;
            border-color: var(--sec-color)!important;
        }

        .textarea-contact
        {
        	resize:none; 
        }

        .btn{
            border-color: #e0e0e0;
        }

        .btn:hover
        {
        	background:var(--accent-color)!important;
        	color:white!important;
            /* border-style: solid; */
            /* border-color:var(--main-color); */
        	transition:all 0.5s!important;   
        }


        .second-portion
        {
        	margin-top:50px; 
        }

		        @import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
		@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

		.box > .icon { text-align: center; position: relative; }

		.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: var(--main-color); vertical-align: middle; transition: all; transition: 0.5s; }

		.box > .icon:hover > .image { background:var(--accent-color); transition: all; transition: 0.5s; }

		.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }

		.box > .icon:hover > .image > i { color: white !important; }

		.box > .icon > .info { margin-top: -24px; border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}

		.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: var(--accent-color); }

		.box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }

		.box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}

		.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }

		.box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }

		.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
		.box .space { height: 30px; }

		@media only screen and (max-width: 768px)
		{
			.contact-form
			{
				margin-top:25px; 
			}

			.btn-send
			{
				width: 100%;
				padding:10px; 
			}

			.second-portion
			{
				margin-top:25px; 
			}
		}